db.sqlite3
/account/__pycache__
/account/migrations/__pycache__

/base/__pycache__
/base/migrations/__pycache__

/quiz/__pycache__
/quiz/migrations/__pycache__

DB_credential.txt

/QuizPlanet/__pycache__

.env